*::-webkit-scrollbar,
html *::-webkit-scrollbar {
    height: 5px;
    width: 4px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: inherit;
    margin: 8px;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: #6440b6;
    border-radius: 5px;
}


.main-conteiner {
    width: 100vw;
    height: 94vh;
    display: flex;
    .action-conteiner{
        margin-top: 10px;
        margin-left: 10px;
        width: 49%;
        border: 0.3px solid gray;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        .action-control-conteiner{
            margin-top: 10px;
            display: flex;
            flex-direction: column; 
            align-items: center;
            width: 100%;
            .input-conteiner{
                display: flex;
                justify-content: center;
                width: 100%;
                mat-form-field{
                    width: 10cm;
                    margin-right: 10px;
                }
            }  
            button{
                background-color: #6440b6;
                color: white;
                width: 10cm;
                height: 50px;
            }
            .buttot-conteiner{
                display: flex;
                flex-direction: column;
                button{
                    margin-bottom: 10px;
                    width: 12cm;
                }
            }
        }
        .action-table-conteiner{
            position: relative;
            margin-top: 15px;
            width: 80%;
            height: 82vh;
            overflow: auto;
            border-radius: 10px;
            overflow: auto;
            border: 0.3px grey solid;
            table{
                text-align: center;
                width: 100%;
                border-spacing: 0px;
                border-collapse: collapse;
                tr:first-child{
                    background: #6440b6;
                    color: #fff;
                    height: 50px;
                }
                tr{
                    height: 35px;
                }
            }
        }
        .load-table-conteiner{
            height: 60vh;
            width: 80%;
            overflow: auto;
            border-radius: 10px;
            .table-box{
                height:99%;
                border: 0.3px grey solid;
                border-radius: 10px;
                overflow: auto;
                table{
                    text-align: center;
                    width: 100%;
                    border-spacing: 0px;
                    border-collapse: collapse;
                    tr:first-child{
                        background: #6440b6;
                        color: #fff;
                        height: 50px;
                    }
                    tr{
                        position: relative;
                    }
                    button{
                        width: 100px;
                        background-color: white;
                        color: red;
                    }
                }
            }
        }
        button{
            background-color: #6440b6;
            color: white;
            width: 10cm;
            height: 50px;
            margin-top: 10px;
        }
    }
}
button:disabled,
button[disabled]{
    background-color: grey!important;
}
.mat-typography{
    height: 90px;
    overflow: hidden;
}

.action-info-cinteiner{
    position: absolute;
    top: 0;
    padding: 10px 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.808);
    min-width: 20vw;
    min-height: 10vh;
    border-radius: 20px;
    animation: ani 0.8s forwards;
    border:1px solid
}

.action-items{
    width: 490px;
    height: 260px;
    overflow: auto;
}